.post{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.post_header{
    display: flex;
    
}
.header_info{
    margin-left: 10px;
    margin-top: 5px;
}
.header_info>h2{
    font-size: 17px;
}
.header_info>p{
    font-size: 12px;
    font-weight: 300;
}
.post__body>p{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 8px;
}
.post_buttons{
    display: flex;
    align-items: flex-start;
    
}